.page-header
  %h1 Add a new domain

= simple_form_for [:dashboard, @domain] do |f|
  = render partial: "form", locals: {f: f}
  .text-right
    = f.submit "Create Domain", class: "btn btn-success btn-lg"
